{% extends 'base.html' %}




      <!-- Header four grids- xs sm md lg-->


{% block body %}
                <!-- List of uploaded documents -->
                  <!-- Items -->

<div style="margin-top: 130px; margin-left: 30px;">
                {% if documents %}
                        {% for document in documents %}
                <li>
    <a href="{{ document.docfile.url }}">{{ document.docfile.name }}
    </a></li>
                        {% endfor %}

                {% else %}
                    <p>No documents.</p>
                {% endif %}
</div>
                <!-- Upload form. Note enctype attribute!
                <form class="navbar-form navbar-left" action="{% url "list" %}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Upload">
                    </div>
                    <button type="submit" value="Upload" class="btn btn-default"/> Upload
                  </button>
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>

                    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

                    <p>
                        {{ form.docfile.errors }}
                        {{ form.docfile }}

                </form> -->

{% endblock %}
