{% extends 'base.html' %}


{% block body %}
<div style="margin-top: 130px; margin-left: 30px;">
                <a class = 'btn btn-default'  href='/z_score'>Z-Score
                </a>
                <br>
              <a class = 'btn btn-default'  href='/plot'>Plot
                </a>
                <br>
              <a class = 'btn btn-default'  href='/productAnalysis'>productAnalysis
                  </a>
                <a class = 'btn btn-default'  href='/productAnalysis'>Top Product
                  </a>
</div>
{% endblock %}
