{% extends 'base.html' %}


{% block body %}


  <title>Top Consumers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!--Line 13-21, copied from Plot's template -->
1 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
2 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
3 <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
4 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

  <script src="http://yui.yahooapis.com/3.10.0/build/yui/yui-min.js"></script>

<div class="container">
  <h2>Top Consumers of Supermarket</h2>
  <p>The following shows top purchased consumers of supermarket</p>
  <div class="bg-faded">Information about products redeemed by consumers
  <table class="table table-bordered table-hover">
    <thead class="d-inline-block bg-black">
      <tr>


        <th>Rank</th>
        <th>Household Key</th>
        <th>Value</th>
        <th>Married</th>
        <th>Income </th>
        <th>Age</th>
        <th>Home Status</th>
        <th>Size</th>
        <th> Total Visits </th>
        <th> Average Visits per Week</th>
        <th>Weekly Visit Trend</th>

      </tr>
    </thead>
    <tbody>

    {% for record in response%}

	<tr>
        <td>{{record.rank}}</td>
        <td><div class = "btn-group-vertical">
          <a href="/plot/consumers/{{record.household_key}}">{{record.household_key}}</a>
    </td></div>
        <td>{{record.values}}</td>
        <td>{{record.married}}</td>
        <td>{{record.Income}}</td>
        <td>{{record.age}}</td>
        <td>{{record.home}}</td>
        <td>{{record.size}}</td>
        <td>{{record.Visits}}</td>
        <td>{{record.Average}}</td>
        <td>{{record.trend.as_html}}
     </td>
    </tr>


    {%endfor%}
    </tbody>
  </table>
</div>

{% endblock %}
