<!DOCTYPE html>
<html lang="en">
<head>
  <title>Consumer Income</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Striped Rows</h2>
  <p>The .table-striped class adds zebra-stripes to a table:</p>            
  <table class="table table-striped">
    <thead>
      <tr>


        <th>Rank</th>
        <th>Household Key</th>
        <th>Value</th>
        <th>Married</th>
        <th>Age</th>
        <th>Home Status</th>
        <th>Size</th>

      </tr>
    </thead>
    <tbody>
      
    {% for record in response%}

	<tr>
        <td>{{record.rank}}</td>
        <td>{{record.household_key}}</td>
        <td>{{record.values}}</td>
        <td>{{record.married}}</td>
        <td>{{record.age}}</td>
        <td>{{record.home}}</td>
        <td>{{record.size}}</td>
    </tr>

    {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html>
