{% extends 'base.html' %}


{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Consumer Income</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Most Spent Product Revenues</h2>
  <p>The following table shows the top products purchased</p>
  <table class="table table-bordered table-hover">
    <thead class="d-inline-block bg-black">
      <tr>


        <th>Rank</th>
        <th>Product Code</th>
        <th>Product Size </th>
        <th>Total Revenues</th>
        <th>Commodity Name</th>
        <th>Department</th>
        <th>Brand</th>

      </tr>
    </thead>
    <tbody>

    {% for record in response%}

	<tr>
        <td>{{record.rank}}</td>
        <td>{{record.PRODUCT_ID}}</td>
        <td>{{record.PRODUCT_SIZE}}</td>
        <td>{{record.values}}</td>
        <td>{{record.SUB_COMMODITY_DESC}}</td>
        <td>{{record.DEPARTMENT}}</td>
        <td>{{record.BRAND}}</td>

    </tr>



    {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html>

{% endblock %}
