{% extends 'base.html' %}


{% block body %}
<!DOCTYPE html>
<html>
  <head>

    <title>Top Products</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  </head>
  <body>
    <!-- Site content goes here !-->
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"> </script>

    <div class="ct-chart ct-perfect-first">
    <script>

    var data = {

  labels: {{Label|safe}},
  series: {{total}},

};

var options = {
  width: 400,
  height: 400,
  labelInterpolationFnc: function(lbl, idx) {
    return  lbl + Math.round(data.series[idx]/data.series.reduce(sum) * 100) + '%';
  }
};


var responsiveOptions = [
  ['screen and (min-width: 320px)', {
    chartPadding: 30,
    labelOffset: 50,
    labelDirection: 'explode',

  }],
  ['screen and (min-width: 320px)', {
    labelOffset: 80,
    chartPadding: 20
  }]
];

var sum = function(a, b) { return a + b };

new Chartist.Pie('.ct-chart', data, options, responsiveOptions);


</script>

</div>

<div class="container">
  <h2>Most Spent Product Revenues</h2>
  <p>The following table shows the top products purchased</p>
  <table class="table table-bordered table-hover">
    <thead class="d-inline-block bg-black">
      <tr>
        <th>Rank</th>
        <th>Product Code</th>
        <th>Product Size </th>
        <th>Total Revenues</th>
        <th>Commodity Name</th>
        <th>Department</th>
        <th>Brand</th>
      </tr>
    </thead>
    <tbody>

    {% for record in response%}

	<tr>
        <td>{{record.rank}}</td>
        <td>{{record.PRODUCT_ID}}</td>
        <td>{{record.PRODUCT_SIZE}}</td>
        <td>{{record.values}}</td>
        <td>{{record.SUB_COMMODITY_DESC}}</td>
        <td>{{record.DEPARTMENT}}</td>
        <td>{{record.BRAND}}</td>
    </tr>

    {%endfor%}
    </tbody>
  </table>
</div>



{% endblock %}

</body>
</html>
